.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding: 2.5rem 0;
}

.header-top_left .phone-number {
  font-size: 1.8rem;
  color: #3b3b3b;
}

.header-top_left .ps {
  font-size: 12px;
  color: #959595;
  margin-top: 5px;
  line-height: 1.5;
}

.header-top_center {
  text-align: center;
}

.header-top_center p {
  font-size: 14px;
  color: #959595;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 720px) {
  .header-top_center p {
    display: none;
  }
}

.header-top_left {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
}

@media screen and (max-width: 720px) {
  .header-top_left {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 576px) {
  .header-top_left {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 720px) {
  .header-top_left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.header-top_center {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 720px) {
  .header-top_center {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 576px) {
  .header-top_center {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 720px) {
  .header-top_center {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.header-top_right {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 720px) {
  .header-top_right {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 720px) {
  .header-top_right {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media screen and (max-width: 720px) {
  .header-top {
    margin: 0;
  }
}

@media screen and (max-width: 720px) {
  .header-top_left .phone-number {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 720px) {
  .header-top_left .ps {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .header-top_left .btn-primary {
    display: none;
  }
}

.header-top_center {
  text-align: center;
}

@media screen and (max-width: 720px) {
  .header-top_center p {
    display: none;
  }
}

.header-nav {
  width: 100%;
  background: #b71958;
}

.header-nav .menu {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header-nav .list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.header-nav .item {
  display: block;
  position: relative;
}

.header-nav .link {
  display: inline-block;
  padding: 25px;
  font-size: 17px;
  color: #ffffff;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.header-nav .link:hover {
  background: #971147;
}

.header-nav .submenu-list {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0;
  padding: 0;
  width: 20rem;
  list-style: none;
}

.header-nav .submenu-item {
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  background: #981549;
  -webkit-perspective: 100rem;
          perspective: 100rem;
}

.header-nav .submenu-item:hover {
  background: #84123f;
}

.header-nav .submenu-item:last-of-type {
  border-radius: 0 0 7px 7px;
}

.header-nav .submenu-item a {
  color: #fff;
  font-weight: 400;
  display: inline-block;
  padding: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-nav .toggler {
  font-size: 2.5rem;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .header-nav .toggler {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.header-nav .toggler .burger {
  width: 2.5rem;
  height: 2.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header-nav .toggler .burger-lines {
  width: 80%;
  height: 3px;
  background: #fff;
  border-radius: 2rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header-nav .toggler.active .burger-lines:first-of-type {
  -webkit-transform: rotate(47deg) translate(6px, 6px);
          transform: rotate(47deg) translate(6px, 6px);
}

.header-nav .toggler.active .burger-lines:nth-of-type(2) {
  opacity: 0;
}

.header-nav .toggler.active .burger-lines:last-of-type {
  -webkit-transform: rotate(-50deg) translate(4px, -4px);
          transform: rotate(-50deg) translate(4px, -4px);
}

.header-nav .submenu-list {
  display: none;
}

.header-nav .item:hover .submenu-list {
  display: block;
}

.header-nav .item:hover .menu1 .submenu-item, .header-nav .item:hover .menu3 .submenu-item {
  opacity: 0;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: menu1 .3s ease-in-out forwards;
          animation: menu1 .3s ease-in-out forwards;
}

.header-nav .item:hover .menu2 .submenu-item, .header-nav .item:hover .menu4 .submenu-item {
  opacity: 0;
  -webkit-animation: menu2 .3s ease-in-out forwards;
          animation: menu2 .3s ease-in-out forwards;
}

.header-nav .item:hover .submenu-item:nth-child(1) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.header-nav .item:hover .submenu-item:nth-child(2) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.header-nav .item:hover .submenu-item:nth-child(3) {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

.header-nav .item:hover .submenu-item:nth-child(4) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.header-nav .item:hover .submenu-item:nth-child(5) {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

.header-nav .item:hover .submenu-item:nth-child(6) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.header-nav .item:hover .submenu-item:nth-child(7) {
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
}

.header-nav .item:hover .submenu-item:nth-child(8) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.header-nav .item:hover .submenu-item:nth-child(9) {
  -webkit-animation-delay: 1350ms;
          animation-delay: 1350ms;
}

@media screen and (max-width: 1024px) {
  .header-nav .link {
    padding: 1rem .6rem;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 720px) {
  .header-nav .menu {
    max-height: 0;
    overflow: hidden;
  }
  .header-nav .menu.active {
    max-height: 1000rem;
  }
  .header-nav .list {
    display: block;
    padding: 0;
  }
  .header-nav .link {
    padding: 1.5rem 1rem;
    font-size: 1.6rem;
  }
  .header-nav .submenu-list {
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    padding: 0;
    width: 100%;
    display: block;
    margin-top: 1rem;
  }
  .header-nav .submenu-item a {
    width: 100%;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    padding: 1rem 2rem;
    border-bottom: 3px solid #80113d;
  }
  .header-nav .item:hover .menu1 .submenu-item, .header-nav .item:hover .menu3 .submenu-item {
    opacity: 1;
    -webkit-animation: none;
            animation: none;
  }
  .header-nav .item:hover .menu2 .submenu-item, .header-nav .item:hover .menu4 .submenu-item {
    opacity: 1;
    -webkit-animation: none;
            animation: none;
  }
}

@-webkit-keyframes menu1 {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-65deg);
            transform: rotateX(-65deg);
  }
  50% {
    -webkit-transform: rotateX(35deg);
            transform: rotateX(35deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes menu1 {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-65deg);
            transform: rotateX(-65deg);
  }
  50% {
    -webkit-transform: rotateX(35deg);
            transform: rotateX(35deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@-webkit-keyframes menu2 {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(80deg) translate(10px, 5px);
            transform: rotateY(80deg) translate(10px, 5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translate(0px, 0px);
            transform: rotateY(0deg) translate(0px, 0px);
  }
}

@keyframes menu2 {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(80deg) translate(10px, 5px);
            transform: rotateY(80deg) translate(10px, 5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translate(0px, 0px);
            transform: rotateY(0deg) translate(0px, 0px);
  }
}
/*# sourceMappingURL=header.css.map */